* {
    background-color: black;
}

img {
    border: 5px solid antiquewhite;
    width: 100%;
}

h1 {
    color: antiquewhite;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Libre Baskerville', serif;
}

p {
    color: antiquewhite;
    text-align: center;
    text-transform: lowercase;
    font-size: 1em;
    font-family: 'Libre Baskerville', serif;
}

div {
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
}